@import "bourbon/bourbon";
@import "grid_settings";

@import "neat/neat";

#illustration {
	width: 800px;
	height: 600px;
	background: #000;
	border: 1px solid #999;
}

#test {
	width: 200px;
	height: 200px;
	background: #999 url("../images/forest.jpg");
	background-size: cover;
}